* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.project-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-container .project-item {
  cursor: pointer;
  width: 30%;
  padding: 1.25rem;
  text-align: center;
}

.project-container .project-item .info-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project-container .project-item .info-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container .project-item .info-item .item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  color: #eee;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 90%;
  bottom: 0;
}

.project-container .project-item .info-item .item-desc .item-name {
  text-align: center;
  font: 300 1rem "";
}

.project-container .project-item .info-item .item-desc .technology-stack {
  font-size: 0.875rem;
}

.project-container .project-item .source-code .link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1000px) {
  .info-item {
    transition: all 2s ease-in;
  }
  .info-item:hover .item-desc {
    top: 0;
  }
}

@media (max-width: 991.98px) {
  .project-container {
    display: block;
  }
  .project-container .project-item {
    width: 100%;
    padding: 0.625rem 0;
    border-bottom: 1px dotted #aaa;
  }
  .project-container .project-item .info-item .item-desc {
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .project-container .project-item .info-item .item-desc .item-name {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .project-container .project-item .info-item .item-desc .technology-stack {
    font-size: 1.2rem;
  }
  .project-container .project-item .source-code {
    margin: 10px 0;
  }
}
